:host {
  height: 450px;
  border: 5px solid var(--secondary-color);
  border-radius: 1rem;
  background-color: #fffaf0;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--padding-base);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  width: 300px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
}

.card-body {
  margin-top: 1rem;
  border-bottom: 3px solid var(--secondary-color);
  height: 160px;
}

.card-footer {
  display: flex;
  height: 74px;
  justify-content: center;
  align-items: center;
}

.card-image-border {
  display: flex;
  border: 5px solid var(--secondary-color);
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  width: 150px;
  height: 150px;
  overflow: hidden;
  justify-content: center;
}

.card-image {
  object-fit: none;
}
